@font-face {
  font-family: 'GT Eesti Display Trial Rg';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/GT-Eesti-Display-Regular-Trial.woff') format('woff');
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'GT Eesti Display Trial Rg',Arial,sans-serif;
  font-size: 18px;
}



.progress-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 65px;
  height: 568px;
  width: 320px;
  margin: 20px;
}



.progress-container__headline {
  position: absolute;
  top: 0;
  left: 0;
}



.progress-container__control-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 14px 0;
}

.progress-container__label {
  width: 44px;
  height: 30px;
  position: relative;
}

.progress-container__value-input {
  width: 48px;
  height: 32px;
  border-radius: 20px;
  padding: 8px;
  text-align: center;
}

.progress-container__input {
  appearance: none;
}

.progress-container__slider {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 20px;
  background-color: #e0e6ef;
  cursor: pointer;
  transition: .1s;
}

.progress-container__slider::before {
  content: "";
  position: absolute;
  left: 2.4px;
  bottom: 2px;
  height: 26px;
  width: 26px;
  border-radius: 20px;
  background-color: white;
  transition: .1s;
}

.progress-container__input:checked + .progress-container__slider {
  background-color: #005bff;
}

.progress-container__input:checked + .progress-container__slider::before {
  transform: translateX(50%);
}



@media (orientation: landscape) {
  .progress-container {
    flex-direction: row;
    height: 320px;
    width: 568px;
  }
}